body {
  height: 100%;
  background-color: rgb(87, 109, 126);
  color: rgba(118, 145, 207, 0.9);
  font-family: cursive;
}

#container {
  background-color: rgb(63, 55, 77);
  width: 35vw;
  height: 50vw;
  margin: auto;
  margin-top: 2vw;
  border: 1px outset rgb(19, 19, 20);
  border-radius: 5px;
  box-shadow: 0.7vw 0.7vw rgba(10, 10, 10, 0.7);
  text-align: center;
  text-shadow: -1px -1px black;
}

#stats {
  font-size: 1.5vw;
}

#table-div {
  border: rgba(10, 10, 10, 0.9) inset 2px;
  border-radius: 10px;
  margin: 1vw;
}

#board {
  border-collapse: collapse;
}

td {
  width: 3.5vw;
  height: 3.5vw;
  border: 1px solid rgba(10, 10, 10, 0.2);
  background-size: cover;
}

#progressbar {
  margin: 1vw;
  position: relative;
  height: 1.15vw;
  width: auto;
  background-color: rgba(10, 10, 10, 0.4);
  border: rgba(10, 10, 10, 0.9) inset 2px;
  border-radius: 50px;
  padding: 3px;
}

#progressbar > div {
  position: absolute;
  height: 1vw;
  border-radius: 50px;
}

#progress {
  margin-top: -2px;
  background: linear-gradient(to right, rgb(228, 204, 143), rgb(207, 143, 143));
  width: auto;
  z-index: 2;
  border: white outset 2px;
  visibility: hidden;
  opacity: 0.6;
}
#signature {
  width: 100%;
  color: rgba(255, 255, 255, 0.3);
  z-index: 1;
  text-shadow: -1px -1px black;
  font-size: 1vw;
  text-align: center;
}

.panel {
  visibility: hidden;
  background-color: rgb(63, 55, 77);
  color: rgba(118, 145, 207, 0.9);
  opacity: 0.95;
  position: absolute;
  border: 1px outset rgb(19, 19, 20);
  border-radius: 10px;
  font-size: 2vw;
}

#message-panel > p {
  margin: 1vw 1vw 5vw 1vw;
}

#level-panel {
  visibility: visible;
}

#level-panel td {
  border: 2px outset rgba(10, 10, 10, 0.6);
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 0.9vw;
  font-weight: bold;
  padding-top: 0;
  text-align: center;
  border-radius: 5px;
}

.level-text {
  padding: 0;
  margin: 0;
  font-size: 1.1vw;
}

.level-star {
  font-weight: lighter;
  color: rgba(204, 196, 145, 0.5);
}

#start-button {
  border: 2px outset rgba(10, 10, 10, 0.6);
  border-radius: 10px;
  margin: 1vw 5vw 1vw 5vw;
  background-color: rgba(0, 0, 0, 0.3);
}

#result-stars {
  font-size: 3vw;
  color: rgb(20, 20, 20);
  opacity: 0.5;
}

#no-more-moves > p {
  margin-top: 10vw;
}

#r0c0 {
  border-radius: 10px 0 0 0;
}

#r0c9 {
  border-radius: 0 10px 0 0;
}

#r9c9 {
  border-radius: 0 0 10px 0;
}

#r9c0 {
  border-radius: 0 0 0 10px;
}

@media (max-width: 600px) {
  #container {
    width: 90vw;
    height: 95vh;
  }
  td {
    width: 9vw;
    height: 9vw;
  }
  #stats {
    font-size: 5vw;
  }
  .level-text {
    font-size: 3vw;
  }
  #progressbar,
  #progressbar > div {
    height: 2.5vh;
  }
  #progressbar {
    margin-top: 3vw;
  }
  #signature {
    font-size: 2vh;
  }
  #result-stars,
  .panel {
    font-size: 4vh;
  }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
  html {
    transform-origin: left top;
    -webkit-transform-origin: left top;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
}
